node_modules/
frontend/node_modules/
/package-lock.json
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/aws.xml
/.idea/jsLibraryMappings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/VoiceForms.iml
/node_modules/*